<div class="container">
  <h2>
    Login
  </h2>
  <form action="/login" method="POST">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          Nombre de usuario
        </span>
      </div>
      <input
        type="text"
		name="username"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        id="username"
        aria-describedby="basic-addon1"
      />
    </div>
    <button ttype="submit" class="btn btn-primary">
      Login
    </button>
  </form>
</div>