<div class="container">
<div class="alert alert-success d-flex justify-content-between" role="alert">
  Hasta luego {{user}}
</div>

<script>
  setTimeout(function () {
     // after 2 seconds
     window.location = "/login";
  }, 2000)
</script>