<div class="container">

{{#if session}}
<div class="alert alert-success d-flex justify-content-between" role="alert">
  Bienvenido {{user}}

 		<a class="btn btn-outline-success" type="submit" href="/logout">Logout</a>

</div>

{{else}}
	<nav class="navbar navbar-light bg-light justify-content-between" style="padding: 20px;">
	<a class="navbar-brand">CoderHouse-Alexis Caballero</a>
	<form class="form-inline">
	
		<a class="btn btn-outline-success my-2 my-sm-0" type="submit" href="/auth/login">Login</a>
	</form>
	</nav>
{{/if}}


	<div class="row justify-content-md-center">
		<div class="col-5 align-self-center">
			<form method="POST" action="/api/productos" enctype="text/html">
				<div class="mb-3">
					<label class="form-label">Nombre</label>
					<input
						name="title"
						type="text"
						placeholder="Nombre"
						class="form-control"
					/>

				</div>

				<div class="mb-3">
					<label class="form-label">Precio</label>
					<input
						name="price"
						type="text"
						placeholder="Precio"
						class="form-control"
					/>

				</div>
				<div class="mb-3">
					<label class="form-label">URL de la imagen</label>
					<input
						name="image"
						type="text"
						placeholder="URL de la imagen"
						class="form-control"
					/>

				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
{{>productos list=list}}
{{>chat mensajes=mensajes}}
