<div class="container">
  <a class="btn btn-outline-success" href="/auth/login">
    Login
  </a>
  <h2>
    Registro
  </h2>
  <form action="/auth/register" method="POST">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          Correo electrónico
        </span>
      </div>
      <input
        type="text"
        name="email"
        class="form-control"
        placeholder="email"
        aria-label="email"
        id="email"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          Contraseña
        </span>
      </div>
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="Password"
        aria-label="password"
        id="password"
        aria-describedby="basic-addon1"
      />
    </div>
    <button ttype="submit" class="btn btn-primary">
      Registrarse
    </button>
  </form>
</div>